*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;    
}

body{
    background-color: rgb(24, 23, 23);
    padding:0px 0px 50px 0px;
}

h3{
    font-size: 20px;
    line-height: 35px;
}

